@media (min-width: 350px) and (max-width: 700px) {
  body header {
    box-shadow: none;
    border-bottom: 0.5px solid #EEE;
  }
  body header .navi .hamburger-btn #check_box + label {
    width: 26px;
    height: 20px;
  }
  body .login-form h2 {
    font-size: 1.3em;
    margin-bottom: 40px;
  }
  body .login-form .input-form input, body .login-form .input-form a {
    font-size: 0.9em;
  }
  body .login-form .terms {
    padding: 0 7px;
  }
  body .login-form .terms .box p {
    font-size: 0.9em;
  }
  body .login-form .follow-post {
    margin-top: 80px;
  }
  body .login-form .follow-post div .thumnail {
    width: 110px;
    height: 110px;
    margin: 5px;
  }
  body .login-form .find-password {
    margin-top: 80px;
  }
  body footer {
    padding: 30px 40px;
  }
  body footer div ul li {
    margin-bottom: 10px;
  }
  body .home-navi-form {
    padding: 40px 20px !important;
  }
  body .home-navi-form .wrap .title-top {
    margin-bottom: 20px;
  }
  body .home-navi-form .wrap .title-top .my-title {
    font-size: 1.3em;
    margin-bottom: 0px;
  }
  body .home-navi-form .wrap .contents {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 60px;
    flex-direction: column;
  }
  body .home-navi-form .wrap .contents .content {
    width: 100%;
    margin: 0;
    margin-bottom: 80px;
  }
  body .home-navi-form .wrap .contents .content .main-text .line-text-wrap .line-text {
    font-size: 0.9em;
    margin-top: 14px;
  }
  body .home-navi-form .wrap .contents .content .main-text .info {
    margin-top: 0;
    color: #9EA0B6;
    font-size: 0.8em;
  }
  body .home-navi-form .wrap .contents .content .main-text .info .wrap div span {
    font-size: 0.8em;
    color: #9EA0B6;
  }
  body .home-navi-form .wrap .navi #followbtn {
    font-size: 1.3em;
  }
  body .home-navi-form .wrap .navi #hashtagbtn {
    font-size: 1.3em;
  }
  body .home-navi-form .wrap #hashtag_content .tag-wrap {
    padding: 16px 0;
  }
  body .home-navi-form .wrap #hashtag_content .tag-wrap .tag-active, body .home-navi-form .wrap #hashtag_content .tag-wrap .tag-unactive {
    font-size: 0.8em;
    padding: 10px 14px;
    font-weight: 500;
  }
  body .default-form {
    padding: 40px 20px !important;
  }
  body .default-form .popular-contents .title {
    font-size: 1.3em;
  }
  body .default-form .popular-contents .tag-wrap {
    padding: 16px 0;
  }
  body .default-form .popular-contents .tag-wrap .tag-active, body .default-form .popular-contents .tag-wrap .tag-unactive {
    font-size: 0.8em;
    padding: 10px 14px;
    font-weight: 500;
  }
  body .default-form .popular-contents .contents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
  }
  body .default-form .popular-contents .contents .content {
    width: 100% !important;
    margin: 0 0 15px 0;
    height: 130px;
  }
  body .default-form .popular-contents .contents .content .top img {
    width: 22px;
  }
  body .edit-form-wrap .post {
    padding: 50px 20px 20px 20px p;
    padding-font-size: 0.9em;
  }
  body .edit-form-wrap .post-footer .wrap .collection-tag .submit-tag {
    font-size: 0.9em;
  }
}
@media (max-width: 1240px) {
  body header .navi {
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
  }
  body header .navi .left .home-memu {
    display: none;
  }
  body header .navi .left .edit-menu {
    display: none;
  }
  body header .navi .left .interest {
    display: none;
  }
  body header .navi .right {
    display: none;
  }
  body header .navi .hamburger-btn {
    display: inline-block;
  }
  body .default-form {
    padding: 70px 40px;
  }
  body .default-form .popular-contents .contents .content {
    padding: 18px;
  }
  body .default-form .popular-contents .contents .content .top p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body .default-form .popular-contents .contents .content .bottom p {
    font-size: 0.85em;
  }
  body .default-form .popular-contents .contents .content .bottom div img {
    width: 16px;
    margin-right: 5px;
  }
  body .default-form .popular-contents .contents .content .bottom div span {
    font-size: 0.85em;
  }
  body .default-form .popular-contents .contents .content:nth-child(3) {
    margin-right: 0px;
  }
  body .home-navi-form {
    padding: 70px 40px;
  }
}/*# sourceMappingURL=component.css.map */