@charset "UTF-8";
body {
  background-color: #fff;
  font-family: "Pretendard";
  box-sizing: border-box;
}
body header {
  border-bottom: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0px 6px 28px 10px rgba(14, 14, 14, 0.05);
}
body header .navi {
  max-width: 1440px;
  margin: auto;
  padding: 20px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .navi .left {
  display: flex;
  align-items: center;
}
body header .navi .left a {
  text-decoration: none;
  color: #9EA0B6;
  margin-right: 60px;
  font-size: 1em;
  font-weight: 600;
}
body header .navi .right {
  display: flex;
  align-items: center;
}
body header .navi .right #check-btn {
  display: none;
}
body header .navi .right #check-btn:checked ~ .menubars {
  display: block;
  background-color: #ddd;
  position: absolute;
  top: 110%;
  left: 10%;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 5px 10px 0px rgba(168, 168, 168, 0.25);
  padding: 14px 22px;
  width: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body header .navi .right #check-btn:checked ~ .menubars li {
  cursor: pointer;
  padding: 9px 0px;
}
body header .navi .right #check-btn:checked ~ .menubars li a {
  color: #393939;
}
body header .navi .right #check-btn:checked ~ .menubars li a:hover {
  color: #4F5AF6;
  font-weight: 700;
}
body header .navi .right .menubars {
  display: none;
}
body header .navi .right input {
  border-radius: 66px;
  border-style: none;
  border: 1px solid #E2E3E4;
  padding: 12px 14px;
  margin-right: 30px;
  min-width: 290px;
  box-shadow: 0px 3px 6px 0px rgba(136, 136, 136, 0.25);
  font-size: 0.85em;
}
body header .navi .right p {
  font-size: 0.85em;
  color: #393939;
  margin-right: 30px;
}
body header .navi .right .user-menu {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #E2E3E4;
  padding: 7px;
  position: relative;
}
body header .navi .right .user-menu img {
  margin: 0 5px;
  cursor: pointer;
}
body header .navi .right .user-menu label {
  display: flex;
  align-items: center;
}
body header .navi .right .hamburger-btn #check_box {
  display: none;
}
body header .navi .right .hamburger-btn #check_box + label {
  position: relative;
  display: block;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
body header .navi .right .hamburger-btn #check_box + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 300ms;
}
body header .navi .right .hamburger-btn #check_box:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
}
body header .navi .right .hamburger-btn #check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
body header .navi .right .hamburger-btn #check_box:checked + label > span:nth-child(2) {
  opacity: 0;
}
body header .navi .right .hamburger-btn #check_box + label > span:nth-child(3) {
  bottom: 0;
}
body header .navi .right .hamburger-btn #check_box:checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
}
body header .navi .right .hamburger-btn #check_box + label {
  position: relative;
  display: block;
  width: 30px;
  height: 24px;
  cursor: pointer;
  /* z-index 추가 */
  z-index: 2;
}
body header .navi .right .hamburger-btn #side_menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #fff;
  right: -390px;
  transition: all 300ms;
  z-index: 1;
  top: 0px;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
}
body header .navi .right .hamburger-btn #side_menu .top {
  border-bottom: 1px solid #9EA0B6;
  padding-bottom: 20px;
}
body header .navi .right .hamburger-btn #side_menu .top img {
  margin-bottom: 43px;
}
body header .navi .right .hamburger-btn #side_menu .top .login-bar ul {
  display: flex;
}
body header .navi .right .hamburger-btn #side_menu .top .login-bar ul li {
  margin-right: 20px;
}
body header .navi .right .hamburger-btn #side_menu .top .login-bar ul li a {
  color: #393939;
}
body header .navi .right .hamburger-btn #side_menu .menu ul {
  padding: 20px 0;
}
body header .navi .right .hamburger-btn #side_menu .menu ul li {
  margin-bottom: 24px;
}
body header .navi .right .hamburger-btn #side_menu .menu ul li a {
  color: #393939;
  text-decoration: none;
}
body header .navi .right .hamburger-btn #side_menu .menu ul li a:focus {
  color: #4F5AF6;
}
body header .navi .right .hamburger-btn #check_box:checked + label + #side_menu {
  right: 0;
  box-shadow: 1px 14px 38px 1920px rgba(14, 14, 14, 0.65);
}
body .login-form {
  max-width: 500px;
  margin: auto;
  padding: 100px 30px;
}
body .login-form h2 {
  font-size: 1.5em;
  color: #393939;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}
body .login-form .input-form {
  display: flex;
  flex-direction: column;
}
body .login-form .input-form input {
  border-radius: 6px;
  border-style: none;
  border: 1px solid #E2E3E4;
  padding: 16px;
  font-size: 1em;
  margin-bottom: 16px;
  font-size: 1em;
  color: #393939;
  font-weight: 600;
}
body .login-form .input-form input:focus-within {
  border-radius: 6px;
  border-style: none;
  border: 2px solid #A7ADFB;
  padding: 16px;
  font-size: 1em;
  box-shadow: 0px 1px 9px 2px rgba(79, 90, 246, 0.3294117647);
  outline: none;
}
body .login-form .input-form a {
  text-align: right;
  text-decoration: none;
  color: #9EA0B6;
}
body .login-form .login-btn {
  margin-top: 40px;
  text-align: center;
}
body .login-form .login-btn button {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  margin-bottom: 45px;
}
body .login-form .login-btn p {
  font-size: 1em;
  color: #393939;
}
body .login-form .login-btn p a {
  color: #4F5AF6;
  font-weight: 600;
  text-decoration: none;
}
body .login-form .terms {
  margin: 20px 0 40px 0;
}
body .login-form .terms .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
body .login-form .terms .box p {
  font-size: 1em;
  color: #393939;
}
body .login-form .terms .box input[type=checkbox] {
  display: none;
}
body .login-form .terms .box input[type=checkbox] + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #9EA0B6;
  border-radius: 3px;
  position: relative;
}
body .login-form .terms .box input[id=check1]:checked + label::after {
  content: "";
  background-image: url(../img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 20px;
  width: 25px;
  height: 25px;
  background-color: #A7ADFB;
  border: 1px solid #4F5AF6;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: -1px;
  top: -1px;
}
body .login-form .terms .box input[id=check2]:checked + label::after {
  content: "";
  background-image: url(../img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 20px;
  width: 25px;
  height: 25px;
  background-color: #A7ADFB;
  border: 1px solid #4F5AF6;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: -1px;
  top: -1px;
}
body .login-form .terms .box input[id=check3]:checked + label::after {
  content: "";
  background-image: url(../img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 20px;
  width: 25px;
  height: 25px;
  background-color: #A7ADFB;
  border: 1px solid #4F5AF6;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: -1px;
  top: -1px;
}
body .login-form .find-result {
  height: 54px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  color: #393939;
}
body .login-form .find-result span {
  font-size: 0.85em;
  font-weight: 400;
}
body .login-form .find-result p {
  font-size: 1em;
  font-weight: 600;
  margin-top: 10px;
}
body .login-form .info {
  text-align: center;
}
body .login-form .info h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #393939;
  margin-bottom: 10px;
}
body .login-form .info .change {
  font-size: 0.85em;
  color: #9EA0B6;
  text-decoration: underline;
}
body .login-form .info .post-info {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 22px;
  font-size: 0.85em;
  height: 90px;
  border-radius: 6px;
  margin-top: 50px;
}
body .login-form .info .post-info div span {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
}
body .login-form .info .post-info div p {
  font-size: 1.5em;
  color: #4F5AF6;
  font-weight: 700;
}
body .login-form .follow-post {
  margin-top: 50px;
}
body .login-form .follow-post h3 {
  margin-bottom: 26px;
  font-size: #393939;
  color: #393939;
  text-align: center;
  font-weight: 700;
}
body .login-form .follow-post div {
  display: flex;
  justify-content: space-between;
}
body .login-form .follow-post div .thumnail {
  background-color: #393939;
  width: 140px;
  height: 140px;
  border-radius: 6px;
}
body .login-form .find-password {
  margin-top: 50px;
  text-align: center;
}
body .login-form .find-password h3 {
  margin-bottom: 26px;
  font-size: #393939;
  color: #393939;
  text-align: center;
  font-weight: 700;
}
body .login-form .find-password .login-btn {
  margin-top: 10px;
}
body .default-form {
  max-width: 1440px;
  margin: auto;
  padding: 100px 0 0 0;
}
body .default-form .popular-contents .title {
  font-size: 1.5em;
  color: #393939;
  font-weight: 700;
  margin-bottom: 20px;
}
body .default-form .popular-contents .tag-wrap {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #9EA0B6;
  margin-bottom: -60px;
}
body .default-form .popular-contents .tag-wrap .tag-active {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 17px;
  margin-right: 10px;
}
body .default-form .popular-contents .tag-wrap .tag-unactive {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 17px;
  margin-right: 10px;
  background-color: #E2E3E4;
}
body .default-form .popular-contents .contents {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
body .default-form .popular-contents .contents .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-image: url("https://images.unsplash.com/photo-1498330177096-689e3fb901ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2F2ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  height: 200px;
  margin: 0 10px;
  color: #fff;
}
body .default-form .popular-contents .contents .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .default-form .popular-contents .contents .content .top p {
  font-size: 1.5em;
  color: #393939;
  font-weight: 700;
  color: #fff;
}
body .default-form .popular-contents .contents .content .top div input[type=checkbox] {
  background-image: url(../img/heart-fill.png);
  background-repeat: no-repeat;
  background-position: center;
}
body .default-form .popular-contents .contents .content .top div input[type=checkbox] + label {
  display: inline-block;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}
body .default-form .popular-contents .contents .content .top div input[id=heart]:checked + label::after {
  content: "";
  background-image: url(../img/heart-fill.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: -1px;
  top: -1px;
}
body .default-form .popular-contents .contents .content .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
}
body .default-form .popular-contents .contents .content .bottom div {
  display: flex;
  align-items: center;
}
body .default-form .popular-contents .contents .content .bottom div img {
  margin-right: 10px;
  width: 19px;
}
body .home-navi-form {
  max-width: 1440px;
  margin: auto;
  padding: 100px 0 0 0;
}
body .home-navi-form .wrap .title-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .home-navi-form .wrap .title-top .my-title {
  font-size: 1.5em;
  color: #393939;
  font-weight: 700;
  margin-bottom: 20px;
}
body .home-navi-form .wrap .title-top button {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 17px;
}
body .home-navi-form .wrap .title-top button a {
  color: #fff;
}
body .home-navi-form .wrap .navi {
  display: flex;
  margin-bottom: 20px;
}
body .home-navi-form .wrap .navi li {
  font-size: 1.5em;
  color: #393939;
  font-weight: 700;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  color: #E2E3E4;
}
body .home-navi-form .wrap .contents {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 60px;
}
body .home-navi-form .wrap .contents .content {
  width: 23.7%;
  margin: 10px;
}
body .home-navi-form .wrap .contents .content .thumbnail {
  background: rgba(0, 0, 0, 0.3);
  background-image: url("https://images.unsplash.com/photo-1557724630-96de91632c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3347&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
body .home-navi-form .wrap .contents .content .thumbnail .heart {
  display: flex;
  justify-content: space-between;
}
body .home-navi-form .wrap .contents .content .thumbnail .heart .disclosure {
  padding: 8px 14px;
  color: #fff;
  background-color: #DB5654;
  border-style: none;
  border-radius: 6px;
  font-size: 0.9em;
  cursor: pointer;
}
body .home-navi-form .wrap .contents .content .thumbnail .heart .public {
  padding: 8px 14px;
  color: #fff;
  background-color: #58A9D5;
  border-style: none;
  border-radius: 6px;
  font-size: 0.9em;
  cursor: pointer;
}
body .home-navi-form .wrap .contents .content .thumbnail .heart img {
  width: 20px;
}
body .home-navi-form .wrap .contents .content .thumbnail .title-wrap {
  color: #fff;
}
body .home-navi-form .wrap .contents .content .thumbnail .title-wrap .editor {
  font-size: 0.85em;
  margin-bottom: 5px;
}
body .home-navi-form .wrap .contents .content .thumbnail .title-wrap .title {
  font-size: 1.1em;
  font-weight: 700;
}
body .home-navi-form .wrap .contents .content .main-text {
  font-size: 1em;
  color: #393939;
}
body .home-navi-form .wrap .contents .content .main-text .line-text-wrap {
  width: 100%;
  height: 37px;
}
body .home-navi-form .wrap .contents .content .main-text .line-text-wrap .line-text {
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .home-navi-form .wrap .contents .content .main-text .info {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .home-navi-form .wrap .contents .content .main-text .info .wrap {
  display: flex;
}
body .home-navi-form .wrap .contents .content .main-text .info .wrap div {
  display: flex;
  align-items: center;
  margin-right: 13px;
  font-size: 0.85em;
  color: #393939;
}
body .home-navi-form .wrap .contents .content .main-text .info .wrap div img {
  margin-right: 4px;
  width: 17px;
}
body .edit-form-wrap .deemd {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 400px;
  position: absolute;
}
body .edit-form-wrap .thumnail-img {
  background-image: url(/static/img/default-image.png);
  width: 100%;
  height: 400px;
}
body .edit-form-wrap .edit-form {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
body .edit-form-wrap .edit-form .thumnail-btn {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  color: #343434;
  background-color: #ffffff;
  border: 1px solid #4D4D4D;
  float: right;
  margin: 20px 0;
}
body .edit-form-wrap .edit-form .thumnail-btn :active {
  padding: 18px;
  color: #fff;
  background-color: #4F5AF6;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 17px;
}
body .edit-form-wrap .edit-form .content input {
  border-radius: 6px;
  border-style: none;
  border: 1px solid #E2E3E4;
  padding: 16px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 100px;
}
body footer {
  position: absolute;
  height: 220px;
  width: 100%;
  background-color: #393939;
  color: #fff;
  font-weight: 400;
  margin-top: 100px;
  padding: 50px 150px;
  box-sizing: border-box;
}
body footer div ul {
  display: flex;
  margin-top: 50px;
}
body footer div ul li {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */