$main-color : #4F5AF6;
$gray1 : #9EA0B6;
$gray2 : #E2E3E4;
$gray3 : #F6F6F6;
$text-color : #393939;
$hover-color : #A7ADFB;
$error-color : #EC625C;
$error-hover-color : #FCEFEE;
$small-font-size: 0.85em;
$base-font-size: 1em;
$title-font-size :1.5em;

$mobile: 350px;
$tablet: 700px;
$desktop: 1240px;



@mixin mobile{
    @media (max-width: $mobile){
      @content;
    }
}
  
@mixin tablet{
    @media (min-width: $mobile) and (max-width: $tablet){
      @content;
    }
}
  
@mixin desktop{
    @media (max-width: $desktop){
      @content;
    }
}

  
@mixin btn-style { //기본 버튼 색상
    padding: 13px;
    color: #fff;
    background-color: #4F5AF6;
    border-style: none;
    border-radius: 6px;
    font-size: $base-font-size;
    cursor: pointer;
}

@mixin public-btn-style { 
    padding: 8px 14px;
    color: #fff;
    background-color: #58A9D5;
    border-style: none;
    border-radius: 6px;
    font-size: 0.9em;
    cursor: pointer;
}

@mixin private-btn-style { 
    padding: 8px 14px;
    color: #fff;
    background-color: #DB5654;
    border-style: none;
    border-radius: 6px;
    font-size: 0.9em;
    cursor: pointer;
}

@mixin login-input-style {
    border-radius: 6px;
    border-style: none;
    border: 1px solid $gray2;
    padding: 16px;
    font-size: $base-font-size;
}

@mixin login-input-style-active {
    border-radius: 6px;
    border-style: none;
    border: 2px solid $hover-color;
    padding: 16px;
    font-size: $base-font-size;
    // border: 2px solid #4F5AF6;
    box-shadow: 0px 1px 9px 2px #4f5af654;
    outline: none;
}

@mixin main-text{
    font-size: $base-font-size;
    color: $text-color;
}

@mixin title-text{
    font-size: $title-font-size;
    color: $text-color;
    font-weight: 700;
}

@mixin deemd {
    background: rgba(0, 0, 0, 0.30);
    width: 100%;
    height: 17em;
    position: absolute;
}

@mixin post-w {
    max-width: 1000px;
    padding: 100px 20px 20px 20px;
    margin: auto;
}

@mixin text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}