@import "./\ variable";

@include mobile{ 
     
}

@include tablet{ 
    body{
        // background: red;

        header{
            box-shadow: none;
            border-bottom: 0.5px solid #EEE;
            .navi{
                .hamburger-btn{
                    #check_box + label{
                        width: 26px;
                        height: 20px;
                    }
                }
            }
        }

        .login-form{
            h2{
                font-size: 1.3em;
                margin-bottom: 40px;
            }
            .input-form{
                input,a{
                    font-size: 0.9em;
                }
            }
            .terms{
                padding: 0 7px;
                .box{
                    p{
                        font-size: 0.9em;
                    }
                }
            }
        }

        footer{
            padding: 30px 40px;
            div{
                ul{
                    li{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .home-navi-form{
            padding: 40px 20px !important;
            .wrap{
                .contents{
                    display: flex;
                    flex-wrap: nowrap;
                    margin-bottom: 60px;
                    flex-direction: column;
                    .content{
                        width: 100%;
                        margin: 0;
                        margin-bottom: 80px;
                        .main-text{
                            .line-text-wrap{
                                .line-text{
                                    font-size: 0.9em;
                                    margin-top: 14px;
                                }
                            }
                            .info{
                                margin-top: 0;
                                color: $gray1;
                                font-size: 0.8em;
                                .wrap{
                                    div{
                                        span{
                                            font-size: 0.8em;
                                            color: $gray1;
                                        }
                                    }
                                }
                            }
                        }
                    }    
                }
            }
        }

        .default-form{
            padding: 40px 20px !important;
            .popular-contents{
                .title{
                    font-size: 1.3em;
                }
                .tag-wrap{
                    padding: 16px 0;
                    .tag-active,.tag-unactive{
                        font-size: 0.8em;
                        padding: 10px 14px;
                        font-weight: 500;
                    }
                }
            }
        }

        .edit-form-wrap{
            .post{
                padding: 50px 20px 20px 20px
                p{
                    font-size: 0.9em;
                }
            }
            .post-footer{
                .wrap{
                    .collection-tag{
                        .submit-tag{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}
@include desktop{
    body{
        // background-color: gray;
        header{
            .navi{
                padding: 20px 32px;
                display: flex;
                justify-content: space-between;            
                .left{
                    .home-memu{
                        display: none;
                    }
                    .edit-menu{
                        display: none;
                    }
                    .interest{
                        display: none;
                    }
                }
                .right{
                    display: none;
                }

                .hamburger-btn{
                    display: inline-block;
                }
            }
        }
        .default-form{
            padding: 70px 40px;
            .popular-contents{
                .contents{
                    .content{
                        padding: 18px;
                        .top{
                            p{
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .bottom{
                            p{
                                font-size: $small-font-size;
                            }
                            div{
                                img{
                                    width: 16px;
                                    margin-right: 5px;
                                }
                                span{
                                    font-size: $small-font-size;
                                }
                            }
                        }
                    }
                    .content:nth-child(3){
                        margin-right: 0px;
                    }
                }
            }
        }

        .home-navi-form{
            padding: 70px 40px;
        }
    }
    
}