name: Upload to S3
on:
  push:
    branches:
      - master  # 또는 사용자가 원하는 브랜치

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Create zip archive
      run: |
        zip -r source_code.zip . --exclude .git/\* .github/\* README.md

    - name: Upload to S3
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: ${{ secrets.NAME }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_SECRET_REGION }}
        SOURCE: ./source_code.zip  
        DEST: /
